<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    Username: <br/> <%= form.text_field :username, :size=>"10" %> 
	</div>

<div class="field">
    Password: <br/> <%= form.password_field :password, :size=>"15" %>
</div>

<div class="field">
	Password Confirmation: <br/> <%= form.password_field :password_confirmation, :size=>"15" %>
</div>


  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :user_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :user_lastname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :user_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :user_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_field :zip, id: :user_zip %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :receiveemail %>
    <%= form.check_box :receiveemail, id: :user_receiveemail %>
  </div>

  <div class="field">
    <%= form.label :profileimage %>
    <%= form.text_field :profileimage, id: :user_profileimage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
