<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species, id: :animal_species %>
  </div>

  <div class="field">
    <%= form.label :kingdom %>
    <%= form.text_field :kingdom, id: :animal_kingdom %>
  </div>

  <div class="field">
    <%= form.label :numlegs %>
    <%= form.number_field :numlegs, id: :animal_numlegs %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
