<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :user_id %><br />
    <%= form.select :user_id, @user_choice %>
  </div>


 <div class="field">
    <%= form.label :product_id %><br />
    <%= form.select :product_id, @product_choice %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :review_title %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, id: :review_comment %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :review_rating %>
  </div>

  <div class="field">
    <%= form.label :postdate %>
    <%= form.date_select :postdate, id: :review_postdate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
