<h1>Customers:</h1>
<table>
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
	  <th>Address</th>
	  <th>City</th>
	  <th>State</th>
      <th>Email</th> 
	  <!--My users don't have phone numbers on file -->
      <th>Receiveemail</th>
	  <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.lastname %></td>
        <td><%= customer.firstname %></td>
		<td><%= customer.address %></td>
		<td><%= customer.city %></td>
		<td><%= customer.state %></td>
        <td><%= customer.email %></td>
        <td><%= customer.receiveemail %></td>
		<td><%= link_to 'Show', customer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
